body
{
 background-color: white;
}
.detail{
  padding: 20px;
  display: flex;
  gap: 25px;
}
.container {
  display: flex;
  flex-direction: column;
  background-color: whitesmoke; 
  padding: 10px;
  height: 500px;
  width: 300px;
  border: 2px solid white;
  border-radius: 10px;
}
.logo h1

{
  padding-bottom: 10px;
  color:darkblue;
  margin-right: 100px;
  margin-top: 10px;
  font-style: italic;
  font-family: Garamond, serif;
  font-weight: bold;
  
}
.logo .img {
  width: 50px; 
  height: 50px; 
  border-radius: 50%;
  object-fit: cover;
  margin-top: 10px;
  padding: 5px;
}

.image-style {
  width: 270px;
  height: 270px;
  border-radius: 8px;
  background-color: whitesmoke;
}

.data{
  
  list-style-type: none;
  margin: 5px;
}

.sort button
{
  justify-content: space-between;
  margin-left: 30px;
  height: 40px;
  margin-top: 30px;
  align-items: center;
  border-radius: 5px;
   width: 450px;
}
.sort
{
  display: flex;
  flex-direction: row;
}
.rating
{
  display: flex;

}
.rating p
{
  font-size: 20px;
  align-items: center;
}
.searchicon input
{
  width: 250px;
  height: 15px;
  border: 1px solid whitesmoke;
  background-color: whitesmoke;
  color: black;
  border-radius: 5px;
  padding: 10px;
  margin-left: 10px;
}

.searchicon {
  display: flex;
  align-items: center;
  width: 300px;
  height: 40px;
  background-color: whitesmoke;
  border: 1px solid whitesmoke;
  border-radius: 15px;
  margin-top: 15px;
  color: black;
}

.logo
{
  display: flex;
  flex-direction: row;
}
.container h2
{
  font-size: 20px;
}

